header {
    margin-block: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
}

header > div:nth-child(1) {
    flex: 5;
    padding-left: 5vw;
}

header > div:nth-child(2) {
    flex: 2;
    justify-self: end;
}

header > div:nth-child(3) {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-container {
    margin-block-start: 10px;
    margin-inline-start: 20px;
    display: flex;
    flex-direction: column;
}

.profile-container > img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-block-end: 5px;
}

.logout-btn {
    border: none;
    background-color: #A484FF;
    color: #F6F6F6;
    border-radius: 10px;
    font-size: 75%;
    cursor: pointer;
}